[submodule "system_files/usr/share/gnome-shell/extensions/arcmenu@arcmenu.com"]
	path = system_files/usr/share/gnome-shell/extensions/arcmenu@arcmenu.com
	url = https://gitlab.com/arcmenu/ArcMenu.git
[submodule "system_files/usr/share/gnome-shell/extensions/clipboard-indicator@tudmotu.com"]
	path = system_files/usr/share/gnome-shell/extensions/clipboard-indicator@tudmotu.com
	url = https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator.git
