# SPDX-License-Identifier: GPL-3.0-or-later
[Unit]
Description=Manage system flatpaks
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=3600
StartLimitBurst=20

[Service]
Type=oneshot
ExecStart=/usr/libexec/defenestra-flatpak-manager
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
