[Unit]
Description=Manage system flatpaks

[Service]
Type=oneshot
ExecStart=/usr/libexec/defenestra-flatpak-manager
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
